<h1>
    {{title}}
</h1>
<div>
    <p>{{fullName}}</p>
    <p>{{street}}</p>
    <p>{{city}}, {{state}} {{zipcode}}</p>
    <p>Ph. {{phoneNumber}}</p>
</div>
<div>
    <p>{{checkNumber}}</p>
</div>
<div>
    <p>Date</p>
    <p>{{date}}</p>
</div>
<div>
    <p>Pay to the order of</p>
    <input type="text" value="{{payto}}" />
</div>
<div>
    <p>$</p>
    <input type="text" value="{{amount}}" />
</div>
<div>
    <p>{{amountText}}</p>
</div>
<div>
    <p>{{name}}</p>
    <p>{{street}}</p>
    <p>{{city}}, {{state}} {{zipcode}}</p>
</div>
<div>
    <p>For</p>
    <input type="text" value="{{memo}}" />
</div>
<div>
    <input type="text" value="{{esignature}}" />
</div>
<div>
    <p>{{accountNumber}}</p>
    <p>{{routingNumber}}</p>
    <p>{{checkNumber}}</p>
</div>